<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/entry-mapper.xml"/>
        <mapper resource="mapper/entryContent-mapper.xml"/>
        <mapper resource="mapper/entryContentBasicInfo-mapper.xml"/>
        <mapper resource="mapper/entryContentPoint-mapper.xml"/>
        <mapper resource="mapper/entryContentSource-mapper.xml"/>
        <mapper resource="mapper/entryContentLabel-mapper.xml"/>
        <mapper resource="mapper/entryFile-mapper.xml"/>
    </mappers>
</configuration>